<ul>
  <% @events.each do |event| %>
    <li>
      <strong><%= event.name %></strong>
      in <%= event.location %>:
      <%= price(event) %>
      <%# <%= number_to_currency(event.price, precision: 0) %>
      <p>
        <%= truncate(event.description, length:35, separator: ' ') %>
      </p>
      <p>
        <%= day_and_time(event) %>
      </p>
    </li>
  <% end %>
</ul>