<ul>
<% @movies.each do |movie| %>
  <%# <li>Iron Man</li>
  <li>Superman</li>
  <li>Spider-Man</li> %>
  <li>
    <%= movie.title %>
    (<%= movie.rating %>)
    <%= total_gross(movie) %>
    <p>
      <%= shorten(movie) %>
    </p>
    <p>
      <%= year_of(movie) %>
    </p>
  </li>
<% end %>
</ul>